.mode-box {
    background-color: rgba(20, 20, 20, 0.85);
    border-radius: 6px;
    padding: 4px 10px;
}

.mode-label {
    color: #ffb4a2;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}
