.mode-box {
    background-color: #5c2a3a;
    padding: 4px 10px;
}

.mode-label {
    color: #f5b8cb;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

.mode-border {
    background-color: #5c2a3a;
}
